<h1 mat-dialog-title style="text-align:center; text-decoration: underline;">Användare: {{data.user?.shortcode}} <button
        style="float: right;" mat-raised-button (click)="onNoClick()">X</button></h1>


<span><b>Oförklarad tid: </b> </span><span
    *ngIf="data.user.unaccounted_time != undefined">{{data.user.unaccounted_time}} sekunder</span> <span
    *ngIf="data.user.unaccounted_time == undefined"> 0</span>
<br>
<br>
<b>Utcheckade material</b><br>
<div mat-dialog-content *ngIf="data.materials.length > 0">
    <div class="userMaterialList">
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let material of data.materials">
                <app-material-page [material_number]="material.material_number"></app-material-page>
                <br>
            </mat-chip>
        </mat-chip-list>
    </div>

</div>

<p *ngIf="data.materials.length < 1">Du har för närvarande inga material utcheckade.</p>
<div mat-dialog-actions style="float: right;">
    <button style="float: right;" mat-raised-button [mat-dialog-close]="data">Logga ut</button>
</div>