<div class="packPageHeader" style="width:100%;">
  <mat-grid-list cols="7" rowHeight="50px">
    <mat-grid-tile [colspan]='1'><button mat-raised-button (click)="onBackButton()">←</button></mat-grid-tile>
    <mat-grid-tile [colspan]='5' style="font-size: 22px;
      text-decoration: underline; ">Paket {{data.package}}</mat-grid-tile>
    <mat-grid-tile [colspan]='1'><button mat-raised-button (click)="onNoClick()">X</button></mat-grid-tile>
  </mat-grid-list>
</div>
<div class="packPageContent">
  <div class="packMatTable">
    <mat-divider></mat-divider><br>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let material of data.materials">
        <app-material-page [material_number]='material'></app-material-page>
        <br>
      </mat-chip>
    </mat-chip-list>

  </div>
</div>