<div class="packPageHeader" style="width:100%;">
    <mat-grid-list cols="7" rowHeight="50px">
    <mat-grid-tile [colspan]='1'><button mat-raised-button (click)="onBackButton()">←</button></mat-grid-tile>
    <mat-grid-tile [colspan]='5' style="font-size: 22px;
      text-decoration: underline; ">Paket {{data.package}}</mat-grid-tile>
    <mat-grid-tile [colspan]='1' ><button mat-raised-button (click)="onNoClick()">X</button></mat-grid-tile>
  </mat-grid-list>
</div>

<div class="packMatTable">
    <table style="display: inline-block;" *ngIf="dataSource" mat-table [dataSource]="dataSource">
    
            <!-- Material Column -->
            <ng-container matColumnDef="material">
              <th mat-header-cell *matHeaderCellDef>Material i paketet</th>
              <td mat-cell *matCellDef="let row"><app-material-page [material_number]='row'></app-material-page> </td>
            </ng-container>

        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

</div>