<!-- Search bar -->
<!--<div style="margin:auto; width: 70%; margin-top: 30px; align:left;">
  <app-search-bar (onSelectOption)="onSelectedOption($event)"></app-search-bar>
</div> -->
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    
      <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="case_nr">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Diarienummer</th>
      <td mat-cell *matCellDef="let row" class="bold><app-case-page [reference_number]='row.reference_number'></app-case-page></td>

    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="article_nr">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Materialnummer</th>
      <td mat-cell *matCellDef="let row" class="bold"><app-material-page [material_number]='row.material_number'></app-material-page></td>
    </ng-container>

    <ng-container matColumnDef="package_nr">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Paket</th>
      <td mat-cell *matCellDef="let row" class="bold"><app-package-page [package]='row.package'></app-package-page>
    </ng-container>

    <ng-container matColumnDef="branch">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Avdelning</th>
      <td mat-cell *matCellDef="let row">{{row.branch}}</td>
    </ng-container>

    <ng-container matColumnDef="storage_room">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rum</th>
      <td mat-cell *matCellDef="let row">{{row.storage_room}}</td>
    </ng-container>

    <ng-container matColumnDef="shelf">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Hylla</th>
      <td mat-cell *matCellDef="let row" class="bold"><app-shelf-page [shelf]='row.shelf'></app-shelf-page></td>
    </ng-container>

    <ng-container matColumnDef="last_modified">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Senast ändrad</th>
      <td mat-cell *matCellDef="let row">{{row.last_modified}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
