<input matInput (keyup)="applyFilter($event.target.value)">
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <head>
      
    </head>
    <!-- Id Column -->
    <ng-container matColumnDef="article_nr">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Article #
      
      <td mat-cell *matCellDef="let row">{{row.material_number}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="case_nr">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Case #</th>
      <td mat-cell *matCellDef="let row">{{row.reference_number}}</td>
    </ng-container>

    <ng-container matColumnDef="storage_room">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Room
      </th>
      <td mat-cell *matCellDef="let row">{{row.storage_room}}</td>
    </ng-container>

    <ng-container matColumnDef="shelf">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Shelf</th>
      <td mat-cell *matCellDef="let row">{{row.shelf}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status
      </th>
      <td mat-cell *matCellDef="let row">{{row.status}}</td>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Time Stamp</th>
      <td mat-cell *matCellDef="let row">{{row.timestamp}}</td>
    </ng-container>

    <ng-container matColumnDef="last_modified">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last modified</th>
      <td mat-cell *matCellDef="let row">{{row.last_modified}} </td>
      
    </ng-container>
    <ng-container matColumnDef="empty">
        <th mat-header-cell *matHeaderCellDef> 
      </ng-container>

    <ng-container matColumnDef="filter_room">
        <th mat-header-cell *matHeaderCellDef>  
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Filter
                  </mat-panel-title>
                </mat-expansion-panel-header>
                 <mat-checkbox value="Vapen">Vapen </mat-checkbox><br/>
                 <mat-checkbox>Finger </mat-checkbox><br/>
                 <mat-checkbox>DNA </mat-checkbox><br/>
                 <mat-checkbox>Uppackning </mat-checkbox><br/>
                
              </mat-expansion-panel>
        </th>
      </ng-container>
      <ng-container matColumnDef="filter_shelf">
          <th mat-header-cell *matHeaderCellDef>  
              <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Filter
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                   <mat-checkbox value="A">A </mat-checkbox><br/>
                   <mat-checkbox>B </mat-checkbox><br/>
                   <mat-checkbox>Hylla </mat-checkbox><br/>
                  
                </mat-expansion-panel>
          </th>
        </ng-container>
        <ng-container matColumnDef="filter_status">
            <th mat-header-cell *matHeaderCellDef>  
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Filter
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                     <mat-checkbox value="check_in">check_in </mat-checkbox><br/>
                     <mat-checkbox>check_out </mat-checkbox><br/>
                     <mat-checkbox>discarded </mat-checkbox><br/>
                     <mat-checkbox>processed </mat-checkbox><br/>
                    
                  </mat-expansion-panel>
            </th>
          </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="['empty','empty','filter_room','filter_shelf','filter_status','empty','empty']"
      class="first-header-row">
    </tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"
      class="second-header-row">
    </tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
