<h1 mat-dialog-title>Checka in</h1>
<div mat-dialog-content [formGroup]="checkInForm">
  <mat-form-field appearance="outline">
    <mat-label>Namn</mat-label>
    <input class="form-control" formControlName="name" type="text" matInput required [(ngModel)]="data.name">
  </mat-form-field>
  <br>

  <mat-form-field appearance="outline">
      <mat-label>Materialnummer</mat-label>
    <input class="form-control" type="number" matInput required formControlName="material_number" [(ngModel)]="data.material_number">
  </mat-form-field>
  <br>
 
  <mat-form-field appearance="outline">
      <mat-label>Diarienummer</mat-label> 
    <input class="form-control" type="number" matInput required formControlName="reference_number" [(ngModel)]="data.reference_number">
  </mat-form-field>
  <br>
  
  <mat-form-field appearance="outline">
      <mat-label>Beskrivning</mat-label>
    <input class="form-control" type="text" matInput required formControlName="description" [(ngModel)]="data.description">
  </mat-form-field>
  <br>
  
  <mat-form-field appearance="outline">
      <mat-label>Rum</mat-label> 
    <mat-select formControlName="storage_room_id" [(ngModel)]="data.storage_room_id" name="storage_room_id">
        <mat-option *ngFor="let room of rooms" [value]="room.roomId">
          {{room.roomName}}
        </mat-option>
      </mat-select>
  </mat-form-field>
  <br>
 
  <mat-form-field appearance="outline">
      <mat-label>Hylla</mat-label> 
    <input class="form-control" type="text" matInput required formControlName="placement" [(ngModel)]="data.placement">
  </mat-form-field>
  <br>
  
  <mat-form-field appearance="outline">
      <mat-label>Paket</mat-label> 
    <input class="form-control" type="text" matInput formControlName="parent_article_id" [(ngModel)]="data.parent_article_id">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button class="btn" mat-raised-button [disabled]="checkInForm.pristine || checkInForm.invalid" [mat-dialog-close]="data" cdkFocusInitial>Submit</button>
</div>