<!-- <div class="packPageHeader" style="width:100%;">
    <mat-grid-list cols="7" rowHeight="50px">
        <mat-grid-tile [colspan]='1'></mat-grid-tile>
        <mat-grid-tile [colspan]='5' style="font-size: 22px;
      text-decoration: underline; "></mat-grid-tile>
        <mat-grid-tile [colspan]='1'><button mat-raised-button (click)="onNoClick()">X</button></mat-grid-tile>
    </mat-grid-list>
</div> -->
<div>
    <button mat-raised-button type="button" style="float:right;" (click)="onNoClick()">X</button>
</div><br>

<div *ngIf="!checkOutConfirmed">
    <h1 mat-dialog-title>Checka ut material</h1>
</div>
<div mat-dialog-content [formGroup]="checkInForm">
    <!-- Content to display before confirmation -->
    <!-- <div *ngIf="!checkOutConfirmed && data.preChosen">
        <div style="text-align: center;">Vill du checka ut följande material?</div>
    </div> -->
    <div *ngIf="checkOutConfirmed && successfulMaterial.length">
        <div style="text-align: center;">Följande material har checkats ut:</div>
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let material of successfulMaterial">
                <app-material-page [material_number]="material"></app-material-page>
                <br>
            </mat-chip>
        </mat-chip-list>
    </div>
    <div *ngIf="!checkOutConfirmed">
        <mat-form-field>
            <input class="form-control" name="material_number" formControlName="material_number" matInput
                [(ngModel)]="data.material_number" placeholder="Materialnummer"
                (keyup.enter)="addMaterial(data.material_number); data.material_number =''" 
                (focusout)="addMaterial(data.material_number); data.material_number =''">
        </mat-form-field>
        <button mat-button (click)="addMaterial(data.material_number); data.material_number=''">+</button>
    </div>

    <div *ngIf="checkOutConfirmed && successfulMaterial.length">
        <div style="text-align: center;">Med uppdaterad status: <br>
            <span *ngIf="data.status">{{data.status}}</span>
            <span *ngIf="!data.status">Utcheckat</span>
        </div>
    </div>

    <mat-chip-list #chipList *ngIf="!checkOutConfirmed">
        <mat-chip *ngFor="let material of data.selectedMaterials">
            <app-material-page [material_number]="material"></app-material-page>
            <div *ngIf="!checkOutConfirmed">
                <mat-icon matChipRemove (click)="removeMaterial(material)">cancel</mat-icon>
            </div>
            <br>
        </mat-chip>
    </mat-chip-list>
    <br>
    <div *ngIf="checkOutError">
        <div style="text-align: center;">Följande material kunde inte checkas ut:</div>
        <li *ngFor="let failed of failedMaterial; let i = index;">
            <span>{{failed}}: {{errorStrings[i]}}</span>

        </li>
    </div>


    <div *ngIf="!checkOutConfirmed">
        <mat-form-field>
            <mat-select formControlName="status" [(ngModel)]="data.status" name="status" placeholder="Ny status">
                <mat-option *ngFor="let st of status" [value]="st">
                    {{st}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>




    <!--    <div class="addNewField" *ngIf="!data.preChosen && !checkOutConfirmed">
        Scanna/fyll i nytt material:
        <input #newMaterial class="add-new" placeholder="Fyll i.."
            (keyup.enter)="addMaterial(newMaterial.value); newMaterial.value='' ">
        <button mat-raised-button (click)="addMaterial(newMaterial.value); newMaterial.value='' ">
            +
        </button>
    </div> -->
    <!-- Content to display after confirmation -->


    <!--<div class="materialCheckOutTable">
        <mat-list dense role="list"></mat-list>
        <ng-container *ngFor="let sel of data.selectedMaterials">
            <mat-list-item role="listitem">
                <app-material-page [material_number]='sel'></app-material-page>
                <button *ngIf="!checkOutConfirmed && !data.preChosen" mat-button (click)="removeMaterial(sel);">X</button>
            </mat-list-item>
        </ng-container>
    </div>-->
    <div *ngIf="!checkOutConfirmed">
        <mat-form-field>
            <br>
            <textarea cdkTextareaAutosize matInput class="form-control" name="comment" formControlName="comment"
                [(ngModel)]="comment" placeholder="Lämna en anteckning" #input maxlength="255"></textarea>
        </mat-form-field>
    </div>
    <br>


    <div mat-dialog-actions>
        <div *ngIf="!checkOutConfirmed">
            <button mat-raised-button (click)="onNoClick()">Avbryt</button>
            <button [disabled]='data.selectedMaterials.length == 0' mat-raised-button (click)="onConfirm()">Checka
                Ut</button>
        </div>
        
        <div *ngIf="checkOutConfirmed">
            <button mat-raised-button [mat-dialog-close]="data">Tillbaka</button>
        </div>
    </div>

    <br>
</div>