
    <h1>Data Visualisering!</h1>
    <br>
    <br>
    <br><br>
    <div class="gridList">
        <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile>
                    <div class="column">
                        <mat-grid-tile-header>Line chart, items in each department over time
                        </mat-grid-tile-header>
                        <app-visu-line-chart></app-visu-line-chart>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="column">
                        <mat-grid-tile-header>Total items in each department currently</mat-grid-tile-header> 
                        <app-visu-pie-chart></app-visu-pie-chart>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="column">
                        <mat-grid-tile-header>Bar chart, items in each department</mat-grid-tile-header>
                        <app-visu-bar-chart></app-visu-bar-chart>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="column">
                        <mat-grid-tile-header>Items in each department</mat-grid-tile-header>
                        <app-visu-polar-area-chart></app-visu-polar-area-chart>
                    </div>
                </mat-grid-tile>
        </mat-grid-list>
        <br>
    </div>