<div class="dialogContainer">
        <div *ngIf="checkOutConfirmed">
                <div style="text-align: center;">Följande paket har checkats ut:</div>
        </div>
        
<div class="closeButton"><button mat-raised-button (click)="onNoClick()">X</button></div>
<div *ngIf="!checkOutConfirmed">
<div class="materialText"><b> Vill du checka ut paket <b *ngFor="let material of data.selectedPackages;let isLast=last">
        {{material}}{{isLast ? '' : ', '}}</b>?</b> </div>
<div class="notes"><b> Anteckningar</b> </div>
<div mat-form-field class='formField'>
        <textarea matInput class="form-control"
        placeholder="Lämna en anteckning"></textarea>
       
    </div>
    <div class="checkOutButton"><button mat-raised-button (click)="onConfirm()" cdkFocusInitial>Checka ut</button></div>
</div>
    </div>