
<div class="page">
  <div class="page-component">
    <!-- <app-room-and-branch-name></app-room-and-branch-name> -->
      <div class="button-row">
        <div class="button">
              <app-search-bar></app-search-bar>
        </div>

        <div class="button">
            <app-manage-system-dialog></app-manage-system-dialog>
        </div>
        <div class="button">
          <app-data-visualization></app-data-visualization>
        </div>
        <!-- <app-storage-event-form></app-storage-event-form> -->
        <!-- <div><app-check-in-form></app-check-in-form></div> -->
        <div class="button">
          <app-check-in-drop-down></app-check-in-drop-down>
        </div>

        <div class="button">
        <button mat-raised-button [matMenuTriggerFor]="checkOutMenu">
            Checka Ut
        </button>
        <mat-menu #checkOutMenu="matMenu">
            <app-material-check-out></app-material-check-out>
            <app-check-out-preselected></app-check-out-preselected>
           
        </mat-menu>
        </div>
      </div>
      <br>

    <br>
  </div>


  <div class="page-component">
    <app-table-article-data> </app-table-article-data>
  </div>
</div>