
.table-div {
    //display: flex;
    //justify-content: center;
    //min-width: 100%;    //justify-content: center;
    //position: absolute; /* or absolute */
    top: 10%;
    left: 10%;
    right: 10%;
    margin-bottom: 2000px;
    width: 80%;
}

.invisible-button {
    width:15rem;
    opacity: 0;
}
.page-component {
    margin: 50px;
    width:80%;

}

.page {
    display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center; 
}

.header {
    width:80%;
    //position: absolute;
}
.button {
    margin: 10px;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: centre;
    position: absolute;
    right: 10%;
}