.systemManagement {
    height:100%;
    position: relative;
}

.system-list {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    width: 250px;
    overflow: auto;
    text-align: right;
    list-style-type: none;
    padding: 10px;
    padding-bottom: 0px;
}

.alerts {
    text-align: center;
    font-size: 22px;
    width: 50%;
    margin: auto;
}

.item-list {
    height: 400px;
    width: 300px;
    overflow: auto;
    text-align: right;
    list-style-type: none;
    border-style: solid;
    border-color: black;


}

 .manageSystemTile {
    position: absolute;
    bottom: 0;
}
