<div class="systemManagement">

<mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile><h1>Avdelning</h1></mat-grid-tile>
    <mat-grid-tile><h1>Rum</h1></mat-grid-tile>
    <mat-grid-tile><h1>Hylla</h1></mat-grid-tile>
</mat-grid-list>


<mat-grid-list cols="3" rowHeight="500px">
<!-- Manage branches -->
<mat-grid-tile>
<div>
	<ul class="system-list" style="height:400px; overflow: auto;">
	  <li *ngFor="let branch of branches">
          {{branch}}
          <button mat-button (click)="removeBranch(branch);">X</button>
	  </li>
    </ul>
    <input #newBranch class="add-new" placeholder="Ny avdelning"
    (keyup.enter)="addBranch(newBranch.value); newBranch.value='' ">
    <button mat-button (click)="addBranch(newBranch.value); newBranch.value='' ">+</button>
</div>
</mat-grid-tile>

<!-- Manage rooms -->
<mat-grid-tile>
<div>
            Avdelning
            <select [(ngModel)]="chosenBranchInRoom" placeholder="Välj avdelning">
                <option *ngFor="let br of branches" [value]="br">
                {{br}}
                </option>
            </select>
        <ul class="system-list" style="height:400px; overflow: auto;">
        <div *ngFor="let room of rooms">
            <div *ngIf="room.branch == chosenBranchInRoom">
            <li>
                {{room.room}}
                
                <button mat-button (click)="removeRoom(room);">X</button>
            </li>
            </div>
        </div>
        </ul>
        <input #newRoom class="add-new" placeholder="Nytt rum"
        (keyup.enter)="addRoom(newRoom.value); newRoom.value='' ">
        <button mat-button (click)="addRoom(newRoom.value); newRoom.value='' ">+</button>
</div>
</mat-grid-tile>

<!-- Manage shelves -->
<mat-grid-tile>
<div>
        Avdelning
        <select [(ngModel)]="chosenBranchInShelf" placeholder="Välj avdelning"
         (ngModelChange)="chosenRoomInShelf='' ">
            <option *ngFor="let br of branches" [value]="br">
            {{br}}
            </option>
        </select>
        Rum
        <select [(ngModel)]="chosenRoomInShelf" placeholder="Välj rum">
            <ng-container *ngFor="let rm of rooms">
            <ng-container *ngIf="rm.branch == chosenBranchInShelf">
            <option [value]="rm.room">
            {{rm.room}}
            </option>
            </ng-container>
            </ng-container>
        </select>
        <ul class="system-list" style="height:400px; overflow: auto;">
            <div *ngFor="let shelf of shelves">
                <div *ngIf="shelf.branch == chosenBranchInShelf
                    && shelf.room == chosenRoomInShelf">
                <li>
                    {{shelf.shelf}}
                <button mat-button (click)="removeShelf(shelf);">X</button>
                </li>
                </div>
            </div>
        </ul>
        <input #newShelf class="add-new" placeholder="Ny hylla"
        (keyup.enter)="addShelf(newShelf.value); newShelf.value='' ">
<button mat-button (click)="addShelf(newShelf.value); newShelf.value='' ">+</button>
</div>
</mat-grid-tile>

</mat-grid-list>
<div *ngIf="roomNotEmptyAlert">Kan inte ta bort rum som innehåller incheckade material</div>
<div *ngIf="branchNotEmptyAlert">Kan inte ta bort avdelning som innehåller incheckade material</div>
<div *ngIf="shelfNotEmptyAlert">Kan inte ta bort hylla som innehåller incheckade material</div>
</div>