.systemManagement {
    background-color: grey;
    height:100%;
}

.system-list {
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    height: 400px;
    width: 300px;
    overflow: auto;
    text-align: right;
    list-style-type: none;
}