<div *ngIf="!checkOutConfirmed">
    <h1 mat-dialog-title>Checka ut paket</h1>
</div>
<div mat-dialog-content [formGroup]="packageCheckOutForm">
<br>
    <div *ngIf="checkOutConfirmed">
        <div style="text-align: center;">Paket {{data.package}} har checkats ut.</div>
    </div>
    <div *ngIf="!checkOutConfirmed && !checkOutError">
        <mat-form-field>
            <input class="form-control" name="package" formControlName="package" matInput [(ngModel)]="data.package"
                placeholder="Paket">
        </mat-form-field>
    </div>
    <div *ngIf="checkOutError">
        <div style="text-align: center;">Paket {{data.package}} kunde inte checkas ut: {{errorMessage}}</div>
    </div>

    <br>

    <div *ngIf="!checkOutConfirmed && !checkOutError">
        <mat-form-field>
            <br>
            <textarea cdkTextareaAutosize matInput class="form-control" name="comment" formControlName="comment"
                [(ngModel)]="comment" placeholder="Lämna en anteckning" #input maxlength="255"></textarea>
        </mat-form-field>
    </div>
    <br>


    <div mat-dialog-actions>
        <div *ngIf="!checkOutConfirmed">
            <button mat-raised-button (click)="onNoClick()">Avbryt</button>
            <button [disabled]='packageCheckOutForm.invalid || packageCheckOutForm.pristine' mat-raised-button
                (click)="onConfirm()">Checka Ut</button>
        </div>

        <div *ngIf="checkOutConfirmed">
            <button mat-raised-button [mat-dialog-close]="data">Tillbaka</button>
        </div>
    </div>

    <br>
</div>