
<h1 mat-dialog-title>Checka in material</h1>


<div mat-dialog-content [formGroup]="checkInForm">


  <!-- <mat-form-field>
    <input class="form-control"
    formControlName="reference_number" matInput
    [(ngModel)]="data.reference_number" placeholder="Diarienummer">
  </mat-form-field>
  <br> -->

  <mat-form-field>
    <input class="form-control"  name="material_number"
    formControlName="material_number" matInput
    [(ngModel)]="data.material_number" placeholder="Materialnummer" 
    (keyup.enter)="addMaterial(data.material_number); data.material_number =''">
  </mat-form-field>
  <button mat-button (click)="addMaterial(data.material_number); data.material_number=''">+</button>

  <mat-chip-list #chipList>
    <mat-chip *ngFor="let material of data.selectedMaterials">
      <app-material-page [material_number]='material'></app-material-page>
      <mat-icon matChipRemove (click)="removeMaterial(material)">cancel</mat-icon>
      <br>
    </mat-chip>
  </mat-chip-list>
  <br>

  <mat-form-field>
    <input class="form-control" type="text"
     matInput required formControlName="branch"
      [(ngModel)]="data.branch" placeholder="Avdelning">
  </mat-form-field>
  <br>

  <mat-form-field>
    <input class="form-control" type="text"
    matInput required formControlName="storage_room"
    [(ngModel)]="data.storage_room" placeholder="Rum">
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-select formControlName="package"
   [(ngModel)]="data.package" name="package" placeholder="Paket" (focusout)="updateShelf()">
      <mat-option *ngFor="let pg of packages" [value]="pg.packageName">
        {{pg.packageName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-select formControlName="shelf"
   [(ngModel)]="data.shelf" name="shelf" placeholder="Hylla" (focusout)="updatePackages()">
      <mat-option *ngFor="let sh of shelves" [value]="sh.shelfName">
        {{sh.shelfName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>


  <mat-form-field>
    <textarea matInput class="form-control" formControlName="comment" [(ngModel)]="data.comment" name="comment"
    placeholder="Lämna en anteckning"></textarea>
  </mat-form-field>
  <br>

<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Avbryt</button>
  <button class="btn" mat-raised-button
   [disabled]="checkInForm.pristine || checkInForm.invalid || data.selectedMaterials.length == 0"
   [mat-dialog-close]="data" cdkFocusInitial (click)="onConfirm()">Skicka</button>
    <br>
</div>
