<h1 mat-dialog-title>Ny händelse</h1>
<div mat-dialog-content [formGroup]="storageEventForm">

    <mat-form-field appearance="outline">
        <mat-label>Typ av händelse</mat-label> 
      <mat-select required formControlName="action"
       [(ngModel)]="data.action" name="action"
       (ngModelChange)="toggleAction()"
       (ngModelChange)="updateValidity($event)">
          <mat-option *ngFor="let act of actions" [value]="act.action_id">
            {{act.action_name}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <br> 

  <mat-form-field appearance="outline">
      <mat-label>Materialnummer</mat-label>
    <input class="form-control" type="number"
     matInput required formControlName="material_number"
      [(ngModel)]="data.material_number"
      (ngModelChange)="updateValidity($event)">
  </mat-form-field>
  <br>
  
  <mat-form-field appearance="outline">
      <mat-label>Kommentar</mat-label>
    <input class="form-control" type="text"
     matInput formControlName="comment"
      [(ngModel)]="data.comment"
      (ngModelChange)="updateValidity($event)">
  </mat-form-field>
  <br>
  
<!-- Shows extra fields if Check-in is chosen -->
  <div *ngIf="storageEventForm.value.action == 1"> 
    <h1 mat-dialog-title>Fyll i hylla eller kolli</h1>
    
      <mat-form-field appearance="outline">
          <mat-label>Hylla</mat-label>
        <input class="form-control" type="text"
         matInput formControlName="shelf"
         [readonly]="this.shelfDisabled"
          [(ngModel)]="data.shelf"
          (ngModelChange)="togglePackage()"
          (ngModelChange)="updateValidity($event)">
          <div *ngIf="this.shelfDisabled">Kolli valt</div>
      </mat-form-field>
      
      <br>
      
      <mat-form-field appearance="outline">
          <mat-label>Kolli</mat-label>
        <input class="form-control" type="text"
         matInput formControlName="package"
         [readonly]="this.packageDisabled"
          [(ngModel)]="data.package"
          (ngModelChange)="toggleShelf()"
          (ngModelChange)="updateValidity($event)">
          <div *ngIf="this.packageDisabled">Hylla valt</div>
      </mat-form-field>
      
      <br>
    </div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Avbryt</button>
  <button class="btn" mat-raised-button
   [disabled]="!isSubmitEnabled()" 
   [mat-dialog-close]="data">Skicka</button>
</div>