<mat-toolbar *ngIf="userLoggedIn">
  <span>NED</span>
  <span class="spacer"></span>
  <div class="current-location">
    <span style="margin-right: 5px;">Nuvarande avdelning: </span>
      <mat-form-field *ngIf="isAdmin" style="width: 250px;">
        <mat-select [(value)]="selectedBranchId" [disabled]="!isAdmin" (selectionChange)="onBranchSelected($event.value)">
          <mat-option *ngFor="let branch of branches" [value]="branch.id">
            {{ branch.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <span *ngIf="!isAdmin">
      {{ selectedBranchName }}
    </span>
  </div>
  <span class="spacer"></span>
  <div class="current-location">
    <span style="margin-right: 5px;">Nuvarande materialrum: </span>
      <mat-form-field *ngIf="isAdmin" style="width: 250px;">
        <mat-select [(value)]="selectedStorageRoomId" [disabled]="!isAdmin" (selectionChange)="onStorageRoomSelected($event.value)">
          <mat-option *ngFor="let room of storageRoomsInCurrentBranch" [value]="room.id">
            {{ room.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <span *ngIf="!isAdmin">
      {{ selectedStorageName }}
    </span>
  </div>
  <span class="spacer"></span>
  <span class="user-label">Inloggad som: <app-user-page></app-user-page></span>
  <mat-icon class="log-out-icon" (click)="logOut()" aria-hidden="false" aria-label="Logga ut användare">exit_to_app</mat-icon>
</mat-toolbar>
<router-outlet> </router-outlet>
