<div class="matPage">
<div class="MatPageHeader" style="width:100%;">
  <mat-grid-list cols="7" rowHeight="50px">
  <mat-grid-tile [colspan]='1' class="matPageBackButton"><button mat-raised-button (click)="onBackButton()">←</button></mat-grid-tile>
  <mat-grid-tile [colspan]='5' class="matPageHeaderText" style="font-size: 22px; text-decoration: underline; ">Materialnummer: {{data.material_number}}</mat-grid-tile>
  <mat-grid-tile [colspan]='1' class="matPageExitButton"><button mat-raised-button (click)="onNoClick()">X</button></mat-grid-tile>
</mat-grid-list>
</div>
<br>
<div class="matInfo">
    <table class="matInfoTable">
            <td>
              <tr><b class="matInfoLabel">Skapad av       </b></tr>
              <tr><b class="matInfoLabel">Skapad datum    </b></tr>
              <tr><b class="matInfoLabel">Status          </b></tr>
              <tr><b class="matInfoLabel">Nuvarande plats </b></tr>
              <tr><b class="matInfoLabel">Senast ändrad   </b></tr>
            </td>
            <td>
              <tr>{{data.material_data.created_by}}</tr>
              <tr>{{data.material_data.created_date}}</tr>
              <tr>
                  <mat-form-field appearance="none" style=" margin-bottom: -30px; margin-top: -20px; width: 100px;">
                  <select matNativeControl [(ngModel)]="data.material_data.status" name="status" (ngModelChange)="changeStatus()" [value]='data.material_data.status'>
                      <option *ngFor="let st of statuses" [value]="st" >{{st}}</option>        
                    </select>
                  </mat-form-field>
              </tr>
              <tr>{{data.material_data.current_placement}}</tr>
              <tr>{{data.material_data.last_modified}}</tr>
            </td>
    </table>
</div>
<!-- Table for displaying the material's events -->
<div class="matEventTable">

    <table *ngIf="dataSource" mat-table [dataSource]="dataSource">

        <!-- Comment column -->
        <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <!-- Checks if we have a comment for the event and if so prints an icon -->
              <div style="font-size: 22px" matTooltip="{{row.comment}}" matTooltipPosition="left" *ngIf="row.comment && row.comment.length > 0"><mat-icon>notes</mat-icon></div>
            </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Datum och tid </th>
          <td mat-cell *matCellDef="let row"> {{row.date}} </td>
        </ng-container>
    
        <!-- Event Column -->
        <ng-container matColumnDef="event">
          <th mat-header-cell *matHeaderCellDef> Händelse </th>
          <td mat-cell *matCellDef="let row"> {{row.event}} </td>
        </ng-container>
    
        <!-- Branch Column -->
        <ng-container matColumnDef="branch">
          <th mat-header-cell *matHeaderCellDef> Avdelning </th>
          <td mat-cell *matCellDef="let row"> {{row.branch}} </td>
        </ng-container>
    
        <!-- Room Column -->
        <ng-container matColumnDef="room">
          <th mat-header-cell *matHeaderCellDef> Rum </th>
          <td mat-cell *matCellDef="let row"> {{row.room}} </td>
        </ng-container>

        <!-- Shelf Column -->
        <ng-container matColumnDef="shelf">
            <th mat-header-cell *matHeaderCellDef> Hylla </th>
            <td mat-cell *matCellDef="let row"> <app-shelf-page [shelf]='row.shelf'></app-shelf-page> </td>
          </ng-container>

        <!-- Package Column -->
        <ng-container matColumnDef="package">
            <th mat-header-cell *matHeaderCellDef> Paket </th>
            <td mat-cell *matCellDef="let row"><app-package-page [package]='row.package'></app-package-page></td>
          </ng-container>

        <!-- User Column -->
        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef> Användare </th>
            <td mat-cell *matCellDef="let row"> {{row.user}} </td>
          </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>

</div>