/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body {margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


a {
    color:#1862a8;
  }


.mat-raised-button {
    background-color: #336699;
    color: white;
    text-transform: uppercase;
}

.mat-row:nth-child(even){
    background-color:#3366990c;
    }

.mat-row:nth-child(odd){

}